@"
myvenv/
node_modules/
.env
__pycache__/
*.pyc
db.sqlite3
dist/
dist-ssr/
.vscode/
.DS_Store
backend/electro_backend/recommender/similarity_cache/
backend/electro_backend/recommender/similarity_matrix.pkl
"@ | Out-File -Encoding utf8 .gitignore